.carousel {
    width: 100%;
    height: 250px;
    overflow: hidden;
    margin-top: 25px;
    position: relative;
}
    .carousel .back,
    .carousel .forward {
        z-index: 100;
        display: inline-block;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        color: #fff;
        font-size: 40px;
        cursor: pointer;
        height: 250px;
        line-height: 250px;
    }
        .carousel .back { left: 15px; }
        .carousel .forward { right: 15px; }

    .carousel article {
        width: 100%;
        height: 300px;

        position: absolute;
        top: 0;
        left: 100%;
    }
        .carousel article:nth-child(2) {
            left: 0;
        }
        
.carousel-selector {
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #1CCFAF;
    list-style-type: none;
    font-size: 0;
    text-align: center;
    transition: background-color 0.5s linear;
    border-top: 1px solid #222;
}
    .carousel-selector li {
        display: inline-block;
        margin: 0;
        padding: 15px 15px;
        cursor: pointer;
    }
        .carousel-selector li img {
            height: 40px;
        }

@keyframes carousel-out-forward {
    0% { left: 0; }
    100% { left: -100%; }
}

@keyframes carousel-in-forward {
    0% { left: 100%; }
    100% { left: 0; }
}

@keyframes carousel-out-backward {
    0% { left: 0; }
    100% { left: 100%; }
}

@keyframes carousel-in-backward {
    0% { left: -100%; }
    100% { left: 0; }
}