header {
    text-align: center;
    margin-top: 15px;
}
    header img {
        width: 150px;
        height: 150px;
        border-radius: 75px;
    }
    header h1 {
        font-size: 30px;
    }

ul.external-profiles {
    padding: 0;
    margin: 0;
    list-style-type: none;
}
    ul.external-profiles li {
        display: inline-block;
    }
        ul.external-profiles li + li::before {
            content: " - ";
        }

.carousel {
    width: 100%;
    height: 300px;
    overflow: hidden;
    margin-top: 25px;
    position: relative;
}
    .carousel .back,
    .carousel .forward {
        z-index: 100;
        display: inline-block;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        color: #fff;
        font-size: 40px;
    }
        .carousel .back { left: 25px; }
        .carousel .forward { right: 25px; }

    .carousel article {
        width: 100%;
        height: 300px;

        position: absolute;
        top: 0;
        left: 100%;
    }
        .carousel article:nth-child(2) {
            left: 0;
        }

#projects article {
    color: #fff;
    text-align: left;
    position:relative;
    height: 300px;
    overflow-y:hidden;
}
    #cf-row { background-color: #1CCFAF; }
    #lhscamp-row { background-color: #44A0C8; }
    #action-row { background-color: #8471B1; }
    #he-row { background-color: #373737; }

    #projects article .icon {
        width: 150px;
        position: absolute;
        left: 30px;
        top: 50%;
        transform: translateY(-50%);
    }
    #projects article .text {
        top: 20px;
        left: 225px;
        position: absolute;
    }
        #projects article .text p {
            font-size: 25px;
            margin: 0;
            width: 90%;
        }

    #projects article .links {
        position: absolute;
        top: 20px;
        right: 40px;
        z-index: 10; /* we want this to be higher up than .text, which otherwise sits on top of it */
    }
        .links a {
            display: inline-block;
            width: 50px;
            height: 50px;
            background-size: cover;
            margin-right: 25px;
            border-bottom: none;
        }
            /* https://github.com/logos */
            .links .github-link {
                background-image: url(../images/links/Github.Light.png);
            }
                .links .github-link:hover {
                    background-image: url(../images/links/Github.Dark.png);
                }
            /* globe icon modified from https://www.iconfinder.com/icons/296204/communication_connection_earth_global_globe_international_internet_mundo_network_orb_planet_web_world_icon#size=128 */
            .links .web-link {
                background-image: url(../images/links/Web.Light.png);
            }
                .links .web-link:hover {
                    background-image: url(../images/links/Web.Dark.png);
                }

    /* peekshots are the screenshots at the bottom of the rows that "peek" when you hover on them */
    #projects article .peekshots {
        position: absolute;
        bottom: -150px;
        left: 225px;
    }
        #projects article .peekshots .peekshot {
            float: left;
            height: 225px;
            margin-right: 25px;
            box-shadow: -5px -5px 20px 0 #000;
            cursor: pointer;
            transition: margin-top linear 0.1s;
            margin-top: 25px;
        }
            #projects article .peekshots .peekshot:hover {
                margin-top: 0;
            }
            #projects article .peekshots .peekshot:last-child {
                margin-right: 0;
            }