h1 {
    font-size: 30px;
}

header {
    text-align: center;
    margin-top: 15px;
}
    header img {
        width: 150px;
        height: 150px;
        border-radius: 75px;
    }

ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}
    ul li {
        display: inline-block;
    }
        ul li + li::before {
            content: " - ";
        }

#projects article {
    color: #fff;
    text-align: left;
    height: 250px;
    overflow-y: hidden;
}
    .cf { background-color: #1CCFAF; }
    .lhscamp { background-color: #44A0C8; }
    .action { background-color: #8471B1; }
    .he { background-color: #373737; }

    #projects article .icon {
        width: 100px;
        position: absolute;
        left: 75px;
        top: 50%;
        transform: translateY(-50%);
    }
    #projects article .text {
        top: 27px;
        left: 230px;
        position: absolute;
    }
        #projects article .text h1 {
            font-size: 28px;
            font-weight: 600;
            margin: 0;
            display: inline-block;
        }
        #projects article .text .links {
            display: inline-block;
            position: relative;
            top: 8px;
            left: 10px;
        }
            .links a {
                display: inline-block;
                width: 40px;
                height: 40px;
                background-size: cover;
                margin-right: 15px;
                border-bottom: none;
            }
                /* https://github.com/logos */
                .links .github-link { background-image: url(../images/links/Github.Light.png); }
                    .links .github-link:hover { background-image: url(../images/links/Github.Dark.png); }
                /* globe icon modified from https://www.iconfinder.com/icons/296204/communication_connection_earth_global_globe_international_internet_mundo_network_orb_planet_web_world_icon#size=128 */
                .links .web-link { background-image: url(../images/links/Web.Light.png); }
                    .links .web-link:hover { background-image: url(../images/links/Web.Dark.png); }

        #projects article .text .tech {
            margin: 5px 0;
            opacity: 0.7;
            font-size: 16px;
        }
        #projects article .text p {
            font-size: 20px;
            margin: 0;
            width: 90%;
        }

    /* peekshots are the screenshots at the bottom of the rows that "peek" when you hover on them */
    #projects article .peekshots {
        position: absolute;
        bottom: -130px;
        left: 225px;
    }
        #projects article .peekshots .peekshot {
            float: left;
            height: 200px;
            margin-right: 25px;
            box-shadow: -5px -5px 20px 0 #000;
            cursor: pointer;
            transition: margin-top linear 0.1s;
            margin-top: 25px;
        }
            #projects article .peekshots .peekshot:hover {
                margin-top: 0;
            }
            #projects article .peekshots .peekshot:last-child {
                margin-right: 0;
            }

#about-me {
    text-align: center;
    margin: 25px auto;
}
    #about-me p {
        max-width: 800px;
        margin: 15px auto 0;
    }

#by-the-numbers {
    text-align: center;
}
    #by-the-numbers #numbers {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        margin: 25px 0 0;
    }
        #numbers article {
            width: 250px;
            padding: 0 5px;
            margin: 0 25px;
            flex-shrink: 0;
            flex-grow: 0;
            border: 1px solid #333;
            border-radius: 5px;
            margin-bottom: 25px;
            cursor: pointer;
        }
            #numbers article h1 {
                padding-top: 5px;
                margin-bottom: 0;
            }
            #numbers article p {
                opacity: 0.8;
                font-size: 15px;
                margin: 5px auto;
            }

footer {
    background-color: #373737;
    color: #fff;
    margin-bottom: 0;
    text-align: center;
    padding: 18px 0 30px;
}
    footer h1 {
        margin: 0;
    }
    footer section {
        margin: 0;
    }
    footer hr {
        width: 350px;
        margin: 25px auto;
    }
    footer ul {
        margin: 0 auto 0;
    }