body, html {
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
}
a {
    font-size: 25px;
    color: #58b5e5;
    text-decoration: none;
}
    a:hover {
        text-decoration: underline;
    }

#title-wrapper {
    text-align: left;
    margin-left: 30px;
    margin-top: 30px;
}
    #title-name,
    #title-description {
        margin: 0;
    }

#main-text {
    font-size: 25px;
    display: inline-block;
    font-weight: 400;
    text-align: left;
    width: auto;
}
    .emphasized-text {
        font-size: 35px;
        font-weight: 600;
        margin: 35px 0 0 0;
    }

.flex-grid {
    display: flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#projects-grid {
    width: 100%;
    margin: 25px auto;
}
    .project {
        width: 25%;
        height: 200px;
        margin: 20px 0 20px 0;
        padding: 15px;
        background-color: #F5F5F5;
        border-radius: 3px;
        transition: background-color 0.2s;
        cursor: pointer;
        border: 2px solid #58b5e5;
    }
        .project:hover {
            background-color: #58b5e5;
        }

@media all and (max-width:910px) {
    #title-wrapper {
        margin-left: 0;
        width: 100%;
        text-align: center;
    }

    .project {
        height: 150px;
        margin: 10px 0 10px 0;
    }
        .project h1 {
            font-size: 25px;
        }
        .project p {
            font-size: 15px;
        }
}

@media all and (max-width:880px) {
    #title-wrapper {
        font-size: 15px;
    }
    #main-text {
        font-size: 20px;
    }
        .emphasized-text {
            font-size: 25px;
        }
}

@media all and (max-width:760px) {
    .project {
        height: 100px;
    }
        .project h1 {
            font-size: 20px;
            margin-top: 0;
            margin-bottom: 0;
        }
        .project p {
            margin-top: 0;
            font-size: 13px;
        }
}

@media all and (max-width:705px) {
    #main-text {
        font-size: 15px;
    }
        .emphasized-text {
            font-size: 20px;
        }
}

/* switch to a 2-column layout */
@media all and (max-width:605px) {
    #main-text {
        text-align: left;
        font-size: 20px;
    }
        .emphasized-text {
            text-align: center;
            font-size: 25px;
        }
    .project {
        width: 40%;
        margin-left: 0;
        margin-right: 0;
        height: 150px;
    }
}

/* switch toa 1-column layout */
@media all and (max-width:360px) {
    .project {
        width: 80%;
    }
        .project h1 {
            font-size: 25px;
            margin-top: 10px;
            margin-bottom: 10px;
        }
        .project p {
            font-size: 15px;
        }
}