img {
    width: 150px;
    height: 150px;
    border-radius: 75px;
}
h1 {
    font-size: 25px;
    font-weight: 400;
}

h2 {
    font-size: 20px;
}

hr {
    margin: 25px auto;
    border: none;
    border-top: 1px solid #888;
    width: 90%;
}

ul#projects {
    width: 80%;
    max-width: 800px;
    text-align: left;
    margin: 0 auto;
}
    ul#projects li + li {
        margin-top: 15px;
    }

#where-to ul {
    font-size: 18px;
    width: 300px;
}
#where-to #slider-bar {
    height: 175px;
}
