html, body {
    font-family: "Times New Roman", Times, serif;
}
    body {
        width: 70%;
        margin: 0 auto;
        padding: 25px 0;
    }

u, a {
    text-decoration: none;
    border-bottom: 1px dotted currentColor;
}
a {
    color: #44a0c8;
}
    a:hover {
        border-bottom-style: solid;
    }

img {
    width: 125px;
    height: 125px;
    border-radius: 100px;
}

ul, p {
    max-width: 900px;
    font-size: 1.05em;
}
    p {
        margin: 10px 0;
    }
    ul {
        margin: 25px 0;
    }
        ul li + li {
            margin-top: 15px;
        }

@media all and (max-width: 535px) {
    body {
        width: 95%;
        text-align: center;
    }
    p {
        text-align: left;
    }
    ul {
        padding: 0;
        list-style-type: none;
    }
}
