@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');
html, body {
    text-align: center;
    font-family: "Open Sans", sans-serif;
}

a {
    text-decoration: none;
    color: #44a0c8;
    border-bottom: 1px dotted currentColor;
}
    a:hover { border-bottom-style: solid; }

img {
    margin-top: 25px;
}
#quick-links {
    list-style-type: none;
    padding: 0;
    font-size: 0;
}
    #quick-links li {
        display: inline-block;
        font-size: 16px;
    }
        #quick-links li + li::before {
            content: "-";
            display: inline-block;
            margin: 0 5px;
        }
h2 {
    font-weight: 400;
}

p {
    max-width: 800px;
    margin: 25px auto;
}

#where-to {
    display: flex;
    justify-content: space-between;
    width: 500px;
    margin: 0 auto;
}
    #where-to ul {
        text-align: left;
        list-style-type: "- ";
        font-size: 20px;
        width: 350px;
    }
    #where-to #slider-bar {
        position: relative;
        top: -12.5px;
        height: 190px;
        background-color: black;
        width: 7px;
        border-radius: 2px;
        background: -webkit-linear-gradient(#fff, #000); /* For Safari 5.1 to 6.0 */
        background: -o-linear-gradient(#fff, #000); /* For Opera 11.1 to 12.0 */
        background: -moz-linear-gradient(#fff, #000); /* For Firefox 3.6 to 15 */
        background: linear-gradient(#fff, #000); /* Standard syntax */
    }

@media all and (max-width: 535px) {
    #where-to {
        width: 95%;
        display: block;
    }
        #where-to ul#next-links {
            width: 100%;
            padding: 0 0 0 5px;
        }
        #where-to #slider-bar {
            display: none;
        }
}
